<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistemas Operativos</title>
</head>
<body>
    <style>
        .login{
            text-align: center;
            margin-top: 20%;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="login" action="setCookie" method="POST">
                    <label for="nombre">Nombre de Usuario</label>
                    <br>
                    <input type="text" id="nombre" name="nombre">
                    <br>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</body>