<% const nombre = 'Sergio';//codigo JS %>
<%=nombre%>
<% const arreglo = [1,2,3,4,5]; %>
<%=arreglo %>
<% const objeto = {nombre:'Sergio'}; %>
<%=objeto %>
<% if(estaVivo){ %>
    <h1>ESTAAA VIVOOo!!</h1>
<% }else{%>
    <h1>C murio</h1>
<% }%>
<% %>
<% %>
<% %>
